<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinmimoney.web.p2pnew.dao.CityHotMapper" >
  <resultMap id="BaseResultMap" type="com.yinmimoney.web.p2pnew.pojo.CityHot" extends="associationMap">
	<id column="id" property="id" />
	<result column="city_code" property="cityCode" />
	<result column="city_name" property="cityName" />
	<result column="count" property="count" />
	<result column="house_name" property="houseName" />
	<result column="create_time" property="createTime" />
	<result column="create_time_str" property="createTimeStr" />
  </resultMap>
  <sql id="Base_Column_List" >
		`id`
		,`city_code`
		,`city_name`
		,`count`
		,`house_name`
		,`create_time`
		,`create_time_str`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM `bc_city_hot`
    WHERE `id` = #{id}
  </select>
  <select id="getByCondition" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM `bc_city_hot`
    <include refid="map_params_where_condition" />
    <if test="orderBy == null" >
      ORDER BY `id` DESC
    </if>
    <if test="orderBy != null and orderBy != 'no'" >
      ORDER BY ${orderBy}
    </if>
	LIMIT 1
  </select>
  <select id="aggregate" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT ${aggregate_sql} FROM `bc_city_hot`
    <include refid="map_params_where_condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM `bc_city_hot`
    WHERE `id` = #{id}
  </delete>
  <insert id="insert" parameterType="com.yinmimoney.web.p2pnew.pojo.CityHot" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO `bc_city_hot` (
	  `city_code`
	  ,`city_name`
	  ,`count`
	  ,`house_name`
	  ,`create_time`
	  ,`create_time_str`
      )
    VALUES (
		  
		  #{cityCode}
		  ,
		  #{cityName}
		  ,
		  #{count}
		  ,
		  #{houseName}
		  ,
		  <if test="createTime != null" >
			#{createTime}
      </if>
      <if test="createTime == null" >
      NOW()
		  </if>
		  ,
		  #{createTimeStr}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yinmimoney.web.p2pnew.pojo.CityHot" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO `bc_city_hot`
    <trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="cityCode != null" >
			`city_code`,
		  </if>
		  <if test="cityName != null" >
			`city_name`,
		  </if>
		  <if test="count != null" >
			`count`,
		  </if>
		  <if test="houseName != null" >
			`house_name`,
		  </if>
			`create_time`,
		  <if test="createTimeStr != null" >
			`create_time_str`,
		  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="cityCode != null" >
			#{cityCode},
		  </if>
		  <if test="cityName != null" >
			#{cityName},
		  </if>
		  <if test="count != null" >
			#{count},
		  </if>
		  <if test="houseName != null" >
			#{houseName},
		  </if>
		  <if test="createTime != null" >
			#{createTime},
      </if>
      <if test="createTime == null" >
      NOW(),
		  </if>
		  <if test="createTimeStr != null" >
			#{createTimeStr},
		  </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinmimoney.web.p2pnew.pojo.CityHot" >
    UPDATE `bc_city_hot`
    <set >
	  <if test="cityCode != null" >
        `city_code` = #{cityCode},
      </if>
	  <if test="cityName != null" >
        `city_name` = #{cityName},
      </if>
	  <if test="count != null" >
        `count` = #{count},
      </if>
	  <if test="houseName != null" >
        `house_name` = #{houseName},
      </if>
	  <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
	  <if test="createTimeStr != null" >
        `create_time_str` = #{createTimeStr},
      </if>
    </set>
    WHERE `id` = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinmimoney.web.p2pnew.pojo.CityHot" >
	UPDATE `bc_city_hot` SET
        `city_code` = #{cityCode},
        `city_name` = #{cityName},
        `count` = #{count},
        `house_name` = #{houseName},
        `create_time` = #{createTime},
        `create_time_str` = #{createTimeStr}
    WHERE `id` = #{id}
  </update>
  <update id="updateByCondition" parameterType="java.util.Map" >
    UPDATE `bc_city_hot`
    <set>
	  <if test="entity.cityCode != null" >
        `city_code` = #{entity.cityCode},
      </if>
	  <if test="entity.cityName != null" >
        `city_name` = #{entity.cityName},
      </if>
	  <if test="entity.count != null" >
        `count` = #{entity.count},
      </if>
	  <if test="entity.houseName != null" >
        `house_name` = #{entity.houseName},
      </if>
	  <if test="entity.createTime != null" >
        `create_time` = #{entity.createTime},
      </if>
	  <if test="entity.createTimeStr != null" >
        `create_time_str` = #{entity.createTimeStr},
      </if>
      <foreach collection="entity.nullColums" item="nullColum">
        `${nullColum}` = NULL,
      </foreach>
    </set>
    <include refid="map_params_where_condition" />
  </update>
  <update id="updateIncreateNumbers" parameterType="java.util.Map" >
    UPDATE `bc_city_hot`
    <set>
      <foreach collection="increateNumbers" item="numberCloums">
        `${numberCloums.column}` = `${numberCloums.column}` + #{numberCloums.number},
      </foreach>
    </set>
    <include refid="map_params_where_condition" />
  </update>
  <sql id="map_params_where_condition" >
    <trim prefix="WHERE" prefixOverrides="AND">
	  <if test="id != null" >
        AND `id` = #{id}
	  </if>
	  <if test="cityCode != null" >
        AND `city_code` = #{cityCode}
	  </if>
	  <if test="cityName != null" >
        AND `city_name` = #{cityName}
	  </if>
	  <if test="count != null" >
        AND `count` = #{count}
	  </if>
	  <if test="houseName != null" >
        AND `house_name` = #{houseName}
	  </if>
	  <if test="createTime != null" >
        AND `create_time` = #{createTime}
	  </if>
	  <if test="createTimeStr != null" >
        AND `create_time_str` = #{createTimeStr}
	  </if>
	  <if test="condition != null">
	  <if test="condition.id != null" >
        AND `id` = #{condition.id}
	  </if>
	  <if test="condition.cityCode != null" >
        AND `city_code` = #{condition.cityCode}
	  </if>
	  <if test="condition.cityName != null" >
        AND `city_name` = #{condition.cityName}
	  </if>
	  <if test="condition.count != null" >
        AND `count` = #{condition.count}
	  </if>
	  <if test="condition.houseName != null" >
        AND `house_name` = #{condition.houseName}
	  </if>
	  <if test="condition.createTime != null" >
        AND `create_time` = #{condition.createTime}
	  </if>
	  <if test="condition.createTimeStr != null" >
        AND `create_time_str` = #{condition.createTimeStr}
	  </if>
	  </if>
	  <if test="vo != null and !vo.expressionChainList.empty">
        AND
        <foreach collection="vo.expressionChainList" item="expressionChain" separator="OR">
          <if test="!expressionChain.expressionList.empty">
            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
              <choose>
                <when test="expression.type == 0">
                  `${expression.column}` ${expression.operator}
                </when>
                <when test="expression.type == 1">
                  `${expression.column}` ${expression.operator} #{expression.value}
                </when>
                <when test="expression.type == 2">
                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
                </when>
                <when test="expression.type == 3">
                  `${expression.column}` ${expression.operator}
                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
                    #{value}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </if>
      <if test="expressionChainList != null and !expressionChainList.empty">
        AND
        <foreach collection="expressionChainList" item="expressionChain" separator="OR">
          <if test="!expressionChain.expressionList.empty">
            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
              <choose>
                <when test="expression.type == 0">
                  `${expression.column}` ${expression.operator}
                </when>
                <when test="expression.type == 1">
                  `${expression.column}` ${expression.operator} #{expression.value}
                </when>
                <when test="expression.type == 2">
                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
                </when>
                <when test="expression.type == 3">
                  `${expression.column}` ${expression.operator}
                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
                    #{value}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </if>
      <include refid="map_params_where_condition_ext" />
    </trim>
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT
    <include refid="Base_Column_List" />
    FROM `bc_city_hot`
    <include refid="map_params_where_condition" />
    <if test="orderBy == null" >
      ORDER BY `id` DESC
    </if>
    <if test="orderBy != null and orderBy != 'no'" >
      ORDER BY ${orderBy}
    </if>
    <if test="pageBeginIndex != null and pageSize != null" >
      LIMIT #{pageBeginIndex},#{pageSize}
    </if>
    <if test="pageBeginIndex == null and pageSize != null" >
      LIMIT #{pageSize}
    </if>
    <if test="pageBeginIndex != null and pageSize == null" >
      LIMIT #{pageBeginIndex}
    </if>
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    DELETE
    FROM `bc_city_hot`
    <include refid="map_params_where_condition" />
  </delete>
  <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    SELECT COUNT(1)
    FROM `bc_city_hot`
    <include refid="map_params_where_condition" />
  </select>
</mapper>