<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinmimoney.web.p2pnew.dao.CityDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yinmimoney.web.p2pnew.pojo.CityDetail" extends="associationMap">
	<id column="id" property="id" />
	<result column="city_code" property="cityCode" />
	<result column="user_code" property="userCode" />
	<result column="order_no" property="orderNo" />
	<result column="message" property="message" />
	<result column="city_sell_status" property="citySellStatus" />
	<result column="url" property="url" />
	<result column="amount" property="amount" />
	<result column="currency" property="currency" />
	<result column="message_status" property="messageStatus" />
	<result column="create_time" property="createTime" />
	<result column="update_time" property="updateTime" />
	<result column="txId" property="txId" />
  </resultMap>
  <sql id="Base_Column_List" >
		`id`
		,`city_code`
		,`user_code`
		,`order_no`
		,`message`
		,`city_sell_status`
		,`url`
		,`amount`
		,`currency`
		,`message_status`
		,`create_time`
		,`update_time`
		,`txId`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM `bc_city_detail`
    WHERE `id` = #{id}
  </select>
  <select id="getByCondition" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM `bc_city_detail`
    <include refid="map_params_where_condition" />
    <if test="orderBy == null" >
      ORDER BY `id` DESC
    </if>
    <if test="orderBy != null and orderBy != 'no'" >
      ORDER BY ${orderBy}
    </if>
	LIMIT 1
  </select>
  <select id="aggregate" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT ${aggregate_sql} FROM `bc_city_detail`
    <include refid="map_params_where_condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM `bc_city_detail`
    WHERE `id` = #{id}
  </delete>
  <insert id="insert" parameterType="com.yinmimoney.web.p2pnew.pojo.CityDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO `bc_city_detail` (
	  `city_code`
	  ,`user_code`
	  ,`order_no`
	  ,`message`
	  ,`city_sell_status`
	  ,`url`
	  ,`amount`
	  ,`currency`
	  ,`message_status`
	  ,`create_time`
	  ,`update_time`
	  ,`txId`
      )
    VALUES (
		  
		  #{cityCode}
		  ,
		  #{userCode}
		  ,
		  #{orderNo}
		  ,
		  #{message}
		  ,
		  #{citySellStatus}
		  ,
		  #{url}
		  ,
		  #{amount}
		  ,
		  #{currency}
		  ,
		  #{messageStatus}
		  ,
		  <if test="createTime != null" >
			#{createTime}
      </if>
      <if test="createTime == null" >
      NOW()
		  </if>
		  ,
		  <if test="updateTime != null" >
			#{updateTime}
      </if>
      <if test="updateTime == null" >
      NOW()
		  </if>
		  ,
		  #{txId}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yinmimoney.web.p2pnew.pojo.CityDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO `bc_city_detail`
    <trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="cityCode != null" >
			`city_code`,
		  </if>
		  <if test="userCode != null" >
			`user_code`,
		  </if>
		  <if test="orderNo != null" >
			`order_no`,
		  </if>
		  <if test="message != null" >
			`message`,
		  </if>
		  <if test="citySellStatus != null" >
			`city_sell_status`,
		  </if>
		  <if test="url != null" >
			`url`,
		  </if>
		  <if test="amount != null" >
			`amount`,
		  </if>
		  <if test="currency != null" >
			`currency`,
		  </if>
		  <if test="messageStatus != null" >
			`message_status`,
		  </if>
			`create_time`,
			`update_time`,
		  <if test="txId != null" >
			`txId`,
		  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="cityCode != null" >
			#{cityCode},
		  </if>
		  <if test="userCode != null" >
			#{userCode},
		  </if>
		  <if test="orderNo != null" >
			#{orderNo},
		  </if>
		  <if test="message != null" >
			#{message},
		  </if>
		  <if test="citySellStatus != null" >
			#{citySellStatus},
		  </if>
		  <if test="url != null" >
			#{url},
		  </if>
		  <if test="amount != null" >
			#{amount},
		  </if>
		  <if test="currency != null" >
			#{currency},
		  </if>
		  <if test="messageStatus != null" >
			#{messageStatus},
		  </if>
		  <if test="createTime != null" >
			#{createTime},
      </if>
      <if test="createTime == null" >
      NOW(),
		  </if>
		  <if test="updateTime != null" >
			#{updateTime},
      </if>
      <if test="updateTime == null" >
      NOW(),
		  </if>
		  <if test="txId != null" >
			#{txId},
		  </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinmimoney.web.p2pnew.pojo.CityDetail" >
    UPDATE `bc_city_detail`
    <set >
	  <if test="cityCode != null" >
        `city_code` = #{cityCode},
      </if>
	  <if test="userCode != null" >
        `user_code` = #{userCode},
      </if>
	  <if test="orderNo != null" >
        `order_no` = #{orderNo},
      </if>
	  <if test="message != null" >
        `message` = #{message},
      </if>
	  <if test="citySellStatus != null" >
        `city_sell_status` = #{citySellStatus},
      </if>
	  <if test="url != null" >
        `url` = #{url},
      </if>
	  <if test="amount != null" >
        `amount` = #{amount},
      </if>
	  <if test="currency != null" >
        `currency` = #{currency},
      </if>
	  <if test="messageStatus != null" >
        `message_status` = #{messageStatus},
      </if>
	  <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
	  <if test="updateTime != null" >
        `update_time` = #{updateTime},
      </if>
	  <if test="txId != null" >
        `txId` = #{txId},
      </if>
    </set>
    WHERE `id` = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinmimoney.web.p2pnew.pojo.CityDetail" >
	UPDATE `bc_city_detail` SET
        `city_code` = #{cityCode},
        `user_code` = #{userCode},
        `order_no` = #{orderNo},
        `message` = #{message},
        `city_sell_status` = #{citySellStatus},
        `url` = #{url},
        `amount` = #{amount},
        `currency` = #{currency},
        `message_status` = #{messageStatus},
        `create_time` = #{createTime},
        `update_time` = #{updateTime},
        `txId` = #{txId}
    WHERE `id` = #{id}
  </update>
  <update id="updateByCondition" parameterType="java.util.Map" >
    UPDATE `bc_city_detail`
    <set>
	  <if test="entity.cityCode != null" >
        `city_code` = #{entity.cityCode},
      </if>
	  <if test="entity.userCode != null" >
        `user_code` = #{entity.userCode},
      </if>
	  <if test="entity.orderNo != null" >
        `order_no` = #{entity.orderNo},
      </if>
	  <if test="entity.message != null" >
        `message` = #{entity.message},
      </if>
	  <if test="entity.citySellStatus != null" >
        `city_sell_status` = #{entity.citySellStatus},
      </if>
	  <if test="entity.url != null" >
        `url` = #{entity.url},
      </if>
	  <if test="entity.amount != null" >
        `amount` = #{entity.amount},
      </if>
	  <if test="entity.currency != null" >
        `currency` = #{entity.currency},
      </if>
	  <if test="entity.messageStatus != null" >
        `message_status` = #{entity.messageStatus},
      </if>
	  <if test="entity.createTime != null" >
        `create_time` = #{entity.createTime},
      </if>
	  <if test="entity.updateTime != null" >
        `update_time` = #{entity.updateTime},
      </if>
	  <if test="entity.txId != null" >
        `txId` = #{entity.txId},
      </if>
      <foreach collection="entity.nullColums" item="nullColum">
        `${nullColum}` = NULL,
      </foreach>
    </set>
    <include refid="map_params_where_condition" />
  </update>
  <update id="updateIncreateNumbers" parameterType="java.util.Map" >
    UPDATE `bc_city_detail`
    <set>
      <foreach collection="increateNumbers" item="numberCloums">
        `${numberCloums.column}` = `${numberCloums.column}` + #{numberCloums.number},
      </foreach>
    </set>
    <include refid="map_params_where_condition" />
  </update>
  <sql id="map_params_where_condition" >
    <trim prefix="WHERE" prefixOverrides="AND">
	  <if test="id != null" >
        AND `id` = #{id}
	  </if>
	  <if test="cityCode != null" >
        AND `city_code` = #{cityCode}
	  </if>
	  <if test="userCode != null" >
        AND `user_code` = #{userCode}
	  </if>
	  <if test="orderNo != null" >
        AND `order_no` = #{orderNo}
	  </if>
	  <if test="message != null" >
        AND `message` = #{message}
	  </if>
	  <if test="citySellStatus != null" >
        AND `city_sell_status` = #{citySellStatus}
	  </if>
	  <if test="url != null" >
        AND `url` = #{url}
	  </if>
	  <if test="amount != null" >
        AND `amount` = #{amount}
	  </if>
	  <if test="currency != null" >
        AND `currency` = #{currency}
	  </if>
	  <if test="messageStatus != null" >
        AND `message_status` = #{messageStatus}
	  </if>
	  <if test="createTime != null" >
        AND `create_time` = #{createTime}
	  </if>
	  <if test="updateTime != null" >
        AND `update_time` = #{updateTime}
	  </if>
	  <if test="txId != null" >
        AND `txId` = #{txId}
	  </if>
	  <if test="condition != null">
	  <if test="condition.id != null" >
        AND `id` = #{condition.id}
	  </if>
	  <if test="condition.cityCode != null" >
        AND `city_code` = #{condition.cityCode}
	  </if>
	  <if test="condition.userCode != null" >
        AND `user_code` = #{condition.userCode}
	  </if>
	  <if test="condition.orderNo != null" >
        AND `order_no` = #{condition.orderNo}
	  </if>
	  <if test="condition.message != null" >
        AND `message` = #{condition.message}
	  </if>
	  <if test="condition.citySellStatus != null" >
        AND `city_sell_status` = #{condition.citySellStatus}
	  </if>
	  <if test="condition.url != null" >
        AND `url` = #{condition.url}
	  </if>
	  <if test="condition.amount != null" >
        AND `amount` = #{condition.amount}
	  </if>
	  <if test="condition.currency != null" >
        AND `currency` = #{condition.currency}
	  </if>
	  <if test="condition.messageStatus != null" >
        AND `message_status` = #{condition.messageStatus}
	  </if>
	  <if test="condition.createTime != null" >
        AND `create_time` = #{condition.createTime}
	  </if>
	  <if test="condition.updateTime != null" >
        AND `update_time` = #{condition.updateTime}
	  </if>
	  <if test="condition.txId != null" >
        AND `txId` = #{condition.txId}
	  </if>
	  </if>
	  <if test="vo != null and !vo.expressionChainList.empty">
        AND
        <foreach collection="vo.expressionChainList" item="expressionChain" separator="OR">
          <if test="!expressionChain.expressionList.empty">
            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
              <choose>
                <when test="expression.type == 0">
                  `${expression.column}` ${expression.operator}
                </when>
                <when test="expression.type == 1">
                  `${expression.column}` ${expression.operator} #{expression.value}
                </when>
                <when test="expression.type == 2">
                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
                </when>
                <when test="expression.type == 3">
                  `${expression.column}` ${expression.operator}
                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
                    #{value}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </if>
      <if test="expressionChainList != null and !expressionChainList.empty">
        AND
        <foreach collection="expressionChainList" item="expressionChain" separator="OR">
          <if test="!expressionChain.expressionList.empty">
            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
              <choose>
                <when test="expression.type == 0">
                  `${expression.column}` ${expression.operator}
                </when>
                <when test="expression.type == 1">
                  `${expression.column}` ${expression.operator} #{expression.value}
                </when>
                <when test="expression.type == 2">
                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
                </when>
                <when test="expression.type == 3">
                  `${expression.column}` ${expression.operator}
                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
                    #{value}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </if>
      <include refid="map_params_where_condition_ext" />
    </trim>
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT
    <include refid="Base_Column_List" />
    FROM `bc_city_detail`
    <include refid="map_params_where_condition" />
    <if test="orderBy == null" >
      ORDER BY `id` DESC
    </if>
    <if test="orderBy != null and orderBy != 'no'" >
      ORDER BY ${orderBy}
    </if>
    <if test="pageBeginIndex != null and pageSize != null" >
      LIMIT #{pageBeginIndex},#{pageSize}
    </if>
    <if test="pageBeginIndex == null and pageSize != null" >
      LIMIT #{pageSize}
    </if>
    <if test="pageBeginIndex != null and pageSize == null" >
      LIMIT #{pageBeginIndex}
    </if>
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    DELETE
    FROM `bc_city_detail`
    <include refid="map_params_where_condition" />
  </delete>
  <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    SELECT COUNT(1)
    FROM `bc_city_detail`
    <include refid="map_params_where_condition" />
  </select>
</mapper>