<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinmimoney.web.p2pnew.dao.MessageFeeMapper" >
  <resultMap id="BaseResultMap" type="com.yinmimoney.web.p2pnew.pojo.MessageFee" extends="associationMap">
	<id column="id" property="id" />
	<result column="txid" property="txid" />
	<result column="user_code" property="userCode" />
	<result column="city_code" property="cityCode" />
	<result column="amount" property="amount" />
	<result column="currency" property="currency" />
	<result column="type" property="type" />
	<result column="create_time" property="createTime" />
	<result column="city_name" property="cityName" />
  </resultMap>
  <sql id="Base_Column_List" >
		`id`
		,`txid`
		,`user_code`
		,`city_code`
		,`amount`
		,`currency`
		,`type`
		,`create_time`
		,`city_name`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM `bc_message_fee`
    WHERE `id` = #{id}
  </select>
  <select id="getByCondition" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM `bc_message_fee`
    <include refid="map_params_where_condition" />
    <if test="orderBy == null" >
      ORDER BY `id` DESC
    </if>
    <if test="orderBy != null and orderBy != 'no'" >
      ORDER BY ${orderBy}
    </if>
	LIMIT 1
  </select>
  <select id="aggregate" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT ${aggregate_sql} FROM `bc_message_fee`
    <include refid="map_params_where_condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM `bc_message_fee`
    WHERE `id` = #{id}
  </delete>
  <insert id="insert" parameterType="com.yinmimoney.web.p2pnew.pojo.MessageFee" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO `bc_message_fee` (
	  `txid`
	  ,`user_code`
	  ,`city_code`
	  ,`amount`
	  ,`currency`
	  ,`type`
	  ,`create_time`
	  ,`city_name`
      )
    VALUES (
		  
		  #{txid}
		  ,
		  #{userCode}
		  ,
		  #{cityCode}
		  ,
		  #{amount}
		  ,
		  #{currency}
		  ,
		  #{type}
		  ,
		  <if test="createTime != null" >
			#{createTime}
      </if>
      <if test="createTime == null" >
      NOW()
		  </if>
		  ,
		  #{cityName}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yinmimoney.web.p2pnew.pojo.MessageFee" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO `bc_message_fee`
    <trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="txid != null" >
			`txid`,
		  </if>
		  <if test="userCode != null" >
			`user_code`,
		  </if>
		  <if test="cityCode != null" >
			`city_code`,
		  </if>
		  <if test="amount != null" >
			`amount`,
		  </if>
		  <if test="currency != null" >
			`currency`,
		  </if>
		  <if test="type != null" >
			`type`,
		  </if>
			`create_time`,
		  <if test="cityName != null" >
			`city_name`,
		  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="txid != null" >
			#{txid},
		  </if>
		  <if test="userCode != null" >
			#{userCode},
		  </if>
		  <if test="cityCode != null" >
			#{cityCode},
		  </if>
		  <if test="amount != null" >
			#{amount},
		  </if>
		  <if test="currency != null" >
			#{currency},
		  </if>
		  <if test="type != null" >
			#{type},
		  </if>
		  <if test="createTime != null" >
			#{createTime},
      </if>
      <if test="createTime == null" >
      NOW(),
		  </if>
		  <if test="cityName != null" >
			#{cityName},
		  </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinmimoney.web.p2pnew.pojo.MessageFee" >
    UPDATE `bc_message_fee`
    <set >
	  <if test="txid != null" >
        `txid` = #{txid},
      </if>
	  <if test="userCode != null" >
        `user_code` = #{userCode},
      </if>
	  <if test="cityCode != null" >
        `city_code` = #{cityCode},
      </if>
	  <if test="amount != null" >
        `amount` = #{amount},
      </if>
	  <if test="currency != null" >
        `currency` = #{currency},
      </if>
	  <if test="type != null" >
        `type` = #{type},
      </if>
	  <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
	  <if test="cityName != null" >
        `city_name` = #{cityName},
      </if>
    </set>
    WHERE `id` = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinmimoney.web.p2pnew.pojo.MessageFee" >
	UPDATE `bc_message_fee` SET
        `txid` = #{txid},
        `user_code` = #{userCode},
        `city_code` = #{cityCode},
        `amount` = #{amount},
        `currency` = #{currency},
        `type` = #{type},
        `create_time` = #{createTime},
        `city_name` = #{cityName}
    WHERE `id` = #{id}
  </update>
  <update id="updateByCondition" parameterType="java.util.Map" >
    UPDATE `bc_message_fee`
    <set>
	  <if test="entity.txid != null" >
        `txid` = #{entity.txid},
      </if>
	  <if test="entity.userCode != null" >
        `user_code` = #{entity.userCode},
      </if>
	  <if test="entity.cityCode != null" >
        `city_code` = #{entity.cityCode},
      </if>
	  <if test="entity.amount != null" >
        `amount` = #{entity.amount},
      </if>
	  <if test="entity.currency != null" >
        `currency` = #{entity.currency},
      </if>
	  <if test="entity.type != null" >
        `type` = #{entity.type},
      </if>
	  <if test="entity.createTime != null" >
        `create_time` = #{entity.createTime},
      </if>
	  <if test="entity.cityName != null" >
        `city_name` = #{entity.cityName},
      </if>
      <foreach collection="entity.nullColums" item="nullColum">
        `${nullColum}` = NULL,
      </foreach>
    </set>
    <include refid="map_params_where_condition" />
  </update>
  <update id="updateIncreateNumbers" parameterType="java.util.Map" >
    UPDATE `bc_message_fee`
    <set>
      <foreach collection="increateNumbers" item="numberCloums">
        `${numberCloums.column}` = `${numberCloums.column}` + #{numberCloums.number},
      </foreach>
    </set>
    <include refid="map_params_where_condition" />
  </update>
  <sql id="map_params_where_condition" >
    <trim prefix="WHERE" prefixOverrides="AND">
	  <if test="id != null" >
        AND `id` = #{id}
	  </if>
	  <if test="txid != null" >
        AND `txid` = #{txid}
	  </if>
	  <if test="userCode != null" >
        AND `user_code` = #{userCode}
	  </if>
	  <if test="cityCode != null" >
        AND `city_code` = #{cityCode}
	  </if>
	  <if test="amount != null" >
        AND `amount` = #{amount}
	  </if>
	  <if test="currency != null" >
        AND `currency` = #{currency}
	  </if>
	  <if test="type != null" >
        AND `type` = #{type}
	  </if>
	  <if test="createTime != null" >
        AND `create_time` = #{createTime}
	  </if>
	  <if test="cityName != null" >
        AND `city_name` = #{cityName}
	  </if>
	  <if test="condition != null">
	  <if test="condition.id != null" >
        AND `id` = #{condition.id}
	  </if>
	  <if test="condition.txid != null" >
        AND `txid` = #{condition.txid}
	  </if>
	  <if test="condition.userCode != null" >
        AND `user_code` = #{condition.userCode}
	  </if>
	  <if test="condition.cityCode != null" >
        AND `city_code` = #{condition.cityCode}
	  </if>
	  <if test="condition.amount != null" >
        AND `amount` = #{condition.amount}
	  </if>
	  <if test="condition.currency != null" >
        AND `currency` = #{condition.currency}
	  </if>
	  <if test="condition.type != null" >
        AND `type` = #{condition.type}
	  </if>
	  <if test="condition.createTime != null" >
        AND `create_time` = #{condition.createTime}
	  </if>
	  <if test="condition.cityName != null" >
        AND `city_name` = #{condition.cityName}
	  </if>
	  </if>
	  <if test="vo != null and !vo.expressionChainList.empty">
        AND
        <foreach collection="vo.expressionChainList" item="expressionChain" separator="OR">
          <if test="!expressionChain.expressionList.empty">
            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
              <choose>
                <when test="expression.type == 0">
                  `${expression.column}` ${expression.operator}
                </when>
                <when test="expression.type == 1">
                  `${expression.column}` ${expression.operator} #{expression.value}
                </when>
                <when test="expression.type == 2">
                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
                </when>
                <when test="expression.type == 3">
                  `${expression.column}` ${expression.operator}
                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
                    #{value}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </if>
      <if test="expressionChainList != null and !expressionChainList.empty">
        AND
        <foreach collection="expressionChainList" item="expressionChain" separator="OR">
          <if test="!expressionChain.expressionList.empty">
            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
              <choose>
                <when test="expression.type == 0">
                  `${expression.column}` ${expression.operator}
                </when>
                <when test="expression.type == 1">
                  `${expression.column}` ${expression.operator} #{expression.value}
                </when>
                <when test="expression.type == 2">
                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
                </when>
                <when test="expression.type == 3">
                  `${expression.column}` ${expression.operator}
                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
                    #{value}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </if>
      <include refid="map_params_where_condition_ext" />
    </trim>
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT
    <include refid="Base_Column_List" />
    FROM `bc_message_fee`
    <include refid="map_params_where_condition" />
    <if test="orderBy == null" >
      ORDER BY `id` DESC
    </if>
    <if test="orderBy != null and orderBy != 'no'" >
      ORDER BY ${orderBy}
    </if>
    <if test="pageBeginIndex != null and pageSize != null" >
      LIMIT #{pageBeginIndex},#{pageSize}
    </if>
    <if test="pageBeginIndex == null and pageSize != null" >
      LIMIT #{pageSize}
    </if>
    <if test="pageBeginIndex != null and pageSize == null" >
      LIMIT #{pageBeginIndex}
    </if>
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    DELETE
    FROM `bc_message_fee`
    <include refid="map_params_where_condition" />
  </delete>
  <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    SELECT COUNT(1)
    FROM `bc_message_fee`
    <include refid="map_params_where_condition" />
  </select>
</mapper>